* {
    padding: 5px;
    margin: 6px;
}

h1 {
    text-align: center;
    color: navy;
}

form {
    display: grid;
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #f5f3f3;
}

label {
    display: grid;
    font-size: large;
}

input {
    height: 20px;
}

select, textarea, input {
    font-size: large;
}

textarea {
    max-width: 600px;
}

img {
    justify-self: center;
}

button[type="submit"] {
    background-color: navy;
    color: white;
    font-size: large;
    border: none;
    border-radius: 0.5em;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 128, 0.726);

}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}